<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>new Machine</title>
</head>
<body>
<div th:replace="nav"></div>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Ajouter Machine</h1>
            <form action="save" method="post">
                <div class="form-group">
                    <label class="control-label">Nom</label>
                    <input type="text" name="nom" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Prix</label>
                    <input type="text" name="prix" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Date d'achat</label>
                    <input type="date" name="dateachat" class="form-control" id="dateachat"  />
                </div>
                <div class="form-group">
                    <label class="control-label">Catégorie</label>
                    <select class="custom-select" aria-label=".form-select-lg example"  name="ul">
                        <option th:each="u : ${utilusation}"  th:value="${u.idutili}" th:text="${u.nomUtilisation}" ></option>
                    </select>
                </div>

                <div class="form-group flex flex-row">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <a th:href="@{machines}" class="btn btn-success">Liste Machines</a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>